service: envi-pro-glue

plugins:
  - serverless-plugin-log-retention
  - serverless-pseudo-parameters
  - serverless-step-functions
  - serverless-offline

package:
  individually: true
  include:
    - src/
  exclude:
    - build/**
    - .editorconfig
    - .eslintignore
    - .eslintrc.js
    - .gitignore
    - prettier.config.js
    - jest.config.js
    - README.md
    - LICENSE
    - src/**/__tests__/**

custom:
  stage: ${opt:stage, self:provider.stage}
  logRetentionInDays: 7
  vacantTableName: envipro_glue_vacant_${self:custom.stage}
  tableThroughputs:
    prod: 5
    default: 5
  tableThroughput: ${self:custom.tableThroughputs.${self:custom.stage}, self:custom.tableThroughputs.default}

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - cloudwatch:*
        - dynamodb:*
      Resource: "*"
  environment:
    DYNAMODB_ENVI_GLUE_VACANT_TABLE_NAME: ${self:custom.vacantTableName}

functions:
  - ${file(src/functions/crawler/pciconcursos-vacant-page/function.yml)}

resources:
  - ${file(resources/dynamodb-vacant-table.yml)}

stepFunctions:
  stateMachines:
    testStateMachinesPlugin:
      name: testStateMachinesPlugin
      definition:
        StartAt: ConfigureCount
        States:
          ConfigureCount:
            Type: "Pass"
            Result:
              [
                { Payload: { category: "geologia" } },
                { Payload: { category: "engenheiro-sanitarista" } },
                { Payload: { category: "engenheiro-sanitarista-e-ambiental" } },
                { Payload: { category: "engenheiro-florestal" } },
                { Payload: { category: "gestor-ambiental" } },
                { Payload: { category: "engenharia-quimica" } },
                { Payload: { category: "quimico" } },
                { Payload: { category: "engenharia-de-petroleo" } },
                { Payload: { category: "tecnico-em-geoprocessamento" } },
                { Payload: { category: "fiscal-de-saneamento" } },
                { Payload: { category: "agente-de-saneamento" } },
                { Payload: { category: "tecnico-em-saneamento" } },
                { Payload: { category: "professor-ciencias-biologicas" } },
                { Payload: { category: "agroecologia" } },
                { Payload: { category: "engenheiro-cartografo" } },
                { Payload: { category: "tecnico-em-cartografia" } },
                { Payload: { category: "engenharia-de-minas" } },
                { Payload: { category: "geografia" } },
                { Payload: { category: "tecnico-ambiental" } },
                { Payload: { category: "agente-ambiental" } },
                { Payload: { category: "tecnologo-em-gestao-ambiental" } },
                { Payload: { category: "auditor-ambiental" } },
                { Payload: { category: "agente-de-fiscalizacao-ambiental" } },
                { Payload: { category: "assistente-de-fiscalizacao-ambiental" } },
                { Payload: { category: "operador-de-estacao-de-tratamento-de-agua-e-esgoto" } },
                { Payload: { category: "engenheiro-agrimensor" } },
                { Payload: { category: "tecnico-em-agrimensura" } },
                { Payload: { category: "tecnico-em-topografia" } },
                { Payload: { category: "gestor-de-residuos-solidos" } },
                { Payload: { category: "analista-ambiental" } },
                { Payload: { category: "fiscal-ambiental" } }
              ]
            ResultPath: "$.categories"
            Next: "CrawlPCIConcursosPages"
          CrawlPCIConcursosPages:
            Type: "Map"
            ItemsPath: "$.categories"
            MaxConcurrency: 5
            ResultPath: "$.collectedCategories"
            Iterator:
              StartAt: "InterateCrawlerPCIConcursosPages"
              States:
                InterateCrawlerPCIConcursosPages:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [crawler-pciconcursos-vacant-page, Arn]
                  Next: WriteDataInDynamoDB
                  Catch:
                    - ErrorEquals: ["States.ALL"]
                      ResultPath: "$.ErrorInfo"
                      Next: WaitFiveSeconds
                WriteDataInDynamoDB:
                  Type: Task
                  Resource: "arn:aws:states:::dynamodb:putItem"
                  Parameters:
                    TableName: ${self:custom.vacantTableName}
                    Item:
                      category: { "S.$": "$.Payload.category" }
                      updated_at: { "S.$": "$$.State.EnteredTime" }
                      result: { "L.$": "$.result[0:]*" }
                  Next: WaitFiveSeconds
                WaitFiveSeconds:
                  Type: "Wait"
                  Seconds: 5
                  End: true
            End: true
