service: envi-pro-glue

plugins:
  - serverless-offline

package:
  individually: true
  include:
    - src/
  exclude:
    - build/**
    - .editorconfig
    - .eslintignore
    - .eslintrc.js
    - .gitignore
    - prettier.config.js
    - jest.config.js
    - README.md
    - LICENSE
    - src/**/__tests__/**

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  deploymentBucket: envipro-glue-${self:provider.stage}
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - cloudwatch:*
        - dynamodb:*
      Resource: 'arn:aws:dynamodb:us-east-1:*:*'
  environment:
    DYNAMODB_ENVI_GLUE_VACANT_TABLE_NAME: 'ENVI-GLUE-VACANT'

functions:
  - ${file(src/functions/delete-vacant-table-step/function.yml)}
  - ${file(src/functions/create-vacant-table-step/function.yml)}

